@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'title';
	src: url(Fonts/SWEATY-BETA.OTF);
}
@font-face {
	font-family: 'aesthetic';
	src: url(Fonts/WINGDING.TTF);
}

h1 {
	text-align: center;
	color: black;
	font-size: 80px;
	font-family: 'title', sans-serif;
	margin-bottom: 35px;
	
}

.extra {
	font-family: 'aesthetic';
}

body {
	/*background: url(Images/footer_lodyas.png);*/
	/*background: linear-gradient(to bottom, white, black 100%);
	background-repeat: no-repeat;*/
}

#face {
	
	display: block;
	margin: auto;
	border-radius: 50%;
	width: 25%;
	
}


#face:hover {
	
}

.button {
	margin-left: 50px;
	display: inline-block;
	border-radius: 4px;
	background-color: white;
	border-color: black;
	color: black;
	width: 230px;
	padding: 20px;
	cursor: pointer;
	transition: all 0.5s;
	font-size: 35px;
	text-align: right;
	
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span::after {
	content: '\25bc';
    transition: 0.5s;
	opacity: 0;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span::after {
	opacity: 1;
	right: 0;
}

button.accordion.active {
	background-color: gray;
}

div.panel {
	background-color: azure;
	max-height: 0;
	overflow: hidden;
	transition: 0.2s ease-out;
}

#download {
	margin-top: 50px;
	display: inline-block;
	border-radius: 4px;
	background-color: white;
	border-color: black;
	color: black;
	width: 300px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.5s;
	font-size: 20px;
	text-align: center;
	
}
#resume {
	display: none;
}

#portfolio {
	margin: auto;
	display: inline-flex;
}

.portfolio_image {

	border: 3px solid;
	border-radius: 40px;
	border-color: black;
	margin-top: 50px;
	margin-left: 30px;
}

.overlay {
	position: inherit;
	opacity: 0;
	transition: .5s ease;
	background-color: dimgray;
	border: 0px solid;
	border-radius: 40px;
}

.image_overlay:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}